nav{
    width: 100%;
  }
  
  .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(66, 64, 64);
      height: 50px;
      
    }
    
    .lista1 {
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
    }
    
    li a:hover {
      background-color: #111;
    }
  
    .nav_superior {
      border: none;
      border-radius: 0px;
      margin-bottom: 0px;
      min-height: 40px;
      background-color: #ffffff;
  }
  
  
  body{
    background-color: #272f4b;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    
  
  }

section{
  float: left;
  padding: 0px;
  width: 50%;

}
  
.empresa{
  margin-top: 55px;
}
  
  .textos{
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 30px;
    line-height: 35px;
  }
  
  #container2{
    background-color: whitesmoke;
    margin: auto;
    padding: 50px; 
    width: 450px;
    margin-top: 20px;
    border-radius: 8px;
    height: 350px;
    
  }
  
  #container2 ul{
    animation: cambio 20s infinite alternate linear;
  }
  
  ul.sliderEm img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    
  }
  
  
  ul.sliderEm{
    position: relative;
    width: 500px;
    height: 350px;
    
  }
  
  ul.sliderEm li {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: 0.5s;
  }
  
  
  ul.sliderEm li:first-child{
    opacity: 1;
  }
  
  ul.sliderEm li:target{
    opacity: 1;
  }


  footer{
    background-color: rgb(119, 118, 117);
    height: 355px;
    width: 100%;
    margin-top: 50px;
    
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    margin-top: 30px;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pie-pagina .grupo-1 .box figure img{
    padding-bottom: 80px;
    margin-right: 50px;
    
  }
  
  .pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
  }
  
  
  
  .pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
  }
  
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
    text-align: center;
  }
  
  .pie-pagina .grupo-1 .box p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .pie-pagina .grupo-1 .box .vm{
  
      text-decoration: none;
      display: flex;
      color: rgb(255, 255, 255);
      padding: 10px;
      font-size: 20px;
  }