nav{
  width: 100%;
  min-width: 250px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 64, 64);
    height: 50px;
    
  }
  
  .lista1 {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  
  li a:hover {
    background-color: #111;
  }

  .nav_superior {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 40px;
    background-color: #ffffff;
    
}


body{
  background-color: #272f4b;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 250px;

}

.container{
  
  margin: auto;
  padding: 50px; 
  width: 1200px;
  margin-top: 20px;
  border-radius: 8px;
}

.container ul{
  animation: cambio 20s infinite alternate linear;
}


ul , li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 1200px;
  height: 550px;
  
}

ul.slider li {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: 0.5s;
}

ul.slider img{
  width: 1100px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  
}

ul.slider li:first-child{
  opacity: 1;
}

ul.slider li:target{
  opacity: 1;
}

.menuSlide{
  text-align: center;
  margin: 20px;
}

.menuSlide li{
  text-align: center;
  display: inline-block;
  padding: 5px;
}

.menuSlide li a{
    display: inline-block;
    color: rgb(71, 71, 71);
    text-decoration: none;
    background-color: white;
    padding: 4px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 100%;
    
  }


/* Float four columns side by side */
.column {
  box-sizing: border-box;
  float: left;
  width: 30%;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 34px;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
margin-top: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
   /* this adds the "card" effect */
  padding: 16px;
  line-height: 35px;
  text-align: center;
  
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.prod{
  color:#f3f3f3;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 45px;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards{
  position: relative;
  height: 350px;
  margin: 10px;
  width: 350px;
  margin-top: 0px;
  justify-content: center;
  
  
}



.cards .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.cards .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .front h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.cards .back{
  transform: perspective(600px) rotateY(180deg);
  background: rgb(95, 97, 99);
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cards .back .link{
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.cards .back .link a{
  color: #f3f3f3;
}
.cards .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.cards .back p{
  letter-spacing: 2px;
}

.cards:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back{
  transform: perspective(600px) rotateY(360deg);
}

footer{
  background-image: url(imagenes/footer2.jpg);
  height: 355px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 50px;
  
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
  margin-top: 30px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-pagina .grupo-1 .box figure img{
  padding-bottom: 80px;
  margin-right: 50px;
  
}

.pie-pagina .grupo-1 .box h2{
  margin-bottom: 25px;
  font-size: 20px;
  color: white;
}



.pie-pagina .grupo-1 .box p{
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
  text-align: center;
}

.pie-pagina .grupo-1 .box p a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.pie-pagina .grupo-1 .box .vm{

    text-decoration: none;
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
}


.productos-inicio{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem ,1fr));
  grid-auto-rows: 22rem;
  grid-column: span 2;
  gap: 1rem;

}


.boxTex{
  color: white;
  
  font-size: 20px;
  padding: 30px;
  line-height: 35px;
}

.boxTex h1{
  text-align: center;
}