nav{
  width: 100%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 60px;
    
  }
  
  .lista1 {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  
  li a:hover {
    background-color: #111;
  }

  .nav_superior {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 40px;
    background-color: #ffffff;
}


body{
  background-image: url(imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  min-height: 100vh;

}

.container{
  background-color: whitesmoke;
  margin: auto;
  padding: 50px; 
  width: 1200px;
  margin-top: 20px;
  border-radius: 8px;
}

ul , li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 1200px;
  height: 550px;
  
}

ul.slider li {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: 0.5s;
}

ul.slider img{
  width: 1100px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  
}

ul.slider li:first-child{
  opacity: 1;
}

ul.slider li:target{
  opacity: 1;
}

.menuSlide{
  text-align: center;
  margin: 20px;
}

.menuSlide li{
  text-align: center;
  display: inline-block;
}

.menuSlide li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 2px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 100%;
  }




/* Float four columns side by side */
.column {
  box-sizing: border-box;
  float: left;
  width: 30%;
  padding: 0 10px;
  margin-top: 145px;
  margin-left: 34px;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
margin-top: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.prod{
  color:#f3f3f3;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 45px;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards{
  position: relative;
  height: 350px;
  margin: 22px;
  float: left;
  width: 450px;
  margin-top: 60px;
  justify-content: center;
  
}

.cards .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.cards .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .front h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.cards .back{
  transform: perspective(600px) rotateY(180deg);
  background: rgb(95, 97, 99);
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cards .back .link{
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.cards .back .link a{
  color: #f3f3f3;
}
.cards .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.cards .back p{
  letter-spacing: 2px;
}

.cards:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back{
  transform: perspective(600px) rotateY(360deg);
}

footer{
  background-image: url(imagenes/footer.jpg);
  height: 250px;
  width: 100%;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}